.title{
   text-align: center;

  
}
.title h1{
    font-family:"Fraunces",serif;
    color:white;
    font-weight: 900;
    font-size: 3.0rem;
    letter-spacing: 0.7rem;
}
.title img{
    margin-top: 40px;
    width: 3.5%;
}


@media(max-width:375px){
    .title h1{
        font-size: 4rem;
    }
    .title img{
        margin-top: 100px;
        width: 10%;
    }
}
